extends layout

block content
  h2 Add a New Class
  form(action='/add-class', method='POST')
    div
      label(for='name') Class Name:
      input(type='text', id='name', name='name')
    div
      label(for='level') Level:
      input(type='text', id='level', name='level')
    div
      label(for='schedule') Schedule:
      input(type='text', id='schedule', name='schedule')
    div
      label(for='description') Description:
      textarea(id='description', name='description')
    div
      button(type='submit') Add Class
