extends common/layout

block content
  .container
    h2 About Us
    p Our swimming classes are designed to provide comprehensive instruction in a fun and engaging environment. Our instructors are certified and experienced, with a passion for teaching swimming to all age groups. Whether you are looking to improve your skills or learn to swim for the first time, we have a class for you.
    p We believe that swimming is not just a sport, but a life skill. Our mission is to provide high-quality swimming instruction that helps our students become confident and capable swimmers.
