extends layout

block content
  .container
    h2 Gallery
    p Explore our swimming classes and facilities through our gallery. See our students in action and get a glimpse of what you can expect when you join our swimming classes.
    .gallery
      img(src='/images/class1.jpg', alt='Class 1')
      img(src='/images/class2.jpg', alt='Class 2')
      img(src='/images/class3.jpg', alt='Class 3')
