extends common/layout

block content
  header.home-header
    .container
      h1 Welcome to Our Swimming Classes
      p We offer a variety of classes for all skill levels. Whether you're a beginner looking to learn the basics or an advanced swimmer wanting to refine your technique, we have a class for you. Our experienced instructors are dedicated to helping you achieve your swimming goals.
    .header-image
    img.gallery-image(src='/images/image6.png' alt='Gallery Image 6')

  section#section
    .section-container
      h2 Photo Gallery
      .carousel-container
        .carousel
          button#pre-button.prev-btn &lt;
          .carousel-images
            .gallery-image-container
              img.gallery-image(src='/images/image1.png' alt='Gallery Image 1' width='300' height='200')
            .gallery-image-container
              img.gallery-image(src='/images/image2.png' alt='Gallery Image 2' width='300' height='200')
            .gallery-image-container
              img.gallery-image(src='/images/image3.png' alt='Gallery Image 3' width='300' height='200')
            .gallery-image-container
              img.gallery-image(src='/images/image4.png' alt='Gallery Image 4' width='300' height='200')
            .gallery-image-container
              img.gallery-image(src='/images/image5.png' alt='Gallery Image 5' width='300' height='200')
          button#next-button.next-btn &gt;

  section.contact-section
    .container
      h2 Contact Us
      p If you have any questions or would like to inquire about our classes, feel free to contact us via email or phone.

  footer.footer
    .container
      p © 2024 Swimming Classes. All rights reserved.

  script(src='/script/script.js')
