nav.navbar
  .container
    h1.logo Swim Club
    ul.nav-list
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/classes') Classes
      li.nav-item
        a.nav-link(href='/about') About Us
      li.nav-item
        a.nav-link(href='/contact') Contact
      li.nav-item
        a.nav-link(href='/admin') Admin
